/* Add a black background color to the top navigation */
.topnav {

    background-color: rgb(160, 185, 255);
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #f8f8f8;
    text-align: center;
    padding: 16px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 2%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(160, 185, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04176e;
    color: white;
  }

   th, td, input, textarea, h1, h2, h3, h4 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
  }
body{
    background-color:  rgb(240, 242, 248);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

 .kw1{
   float: left;
width: 50%;
height: auto;
 } 
.kw2{
  float: right;
  width: 50%;
  height: fit-content;
}
.stats{
  float: left;
  width: 40%;
  height: auto;
}

 #social{
    bottom:20px;
    right: 50px;
  }

  #social li{
    list-style-type:none;
    float: left;
    padding: 5px;
    transition:1s;
    color:white;
    position:relative;
    cursor:pointer;  
  }
