/* Add a black background color to the top navigation */
.topnav {

    background-color: rgb(114, 147, 236);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ece1e1;
    text-align: center;
    padding: 14px 16px;
    text-decoration-style: none;
    font-size: 24px;
    font-family: cursive;
    margin-right: 10%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(136, 146, 238);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04176e;
    color: white;
  }

  body, th, td, input, textarea, h1, h2, h3, h4 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
