/* Add a black background color to the top navigation */
.topnav {

    background-color: rgb(160, 185, 255);
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ece1e1;
    text-align: center;
    padding: 14px 16px;
    text-decoration-style: none;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 10%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(160, 185, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04176e;
    color: white;
  }

   th, td, input, textarea, h1, h2, h3, h4 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
  }
body{
    background-color: rgb(150, 175, 245);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
}
