/* Add a black background color to the top navigation */
.topnav {

    background-color: rgb(160, 185, 255);
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: #f8f8f8;
    text-align: center;
    padding: 16px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 2%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(160, 185, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04176e;
    color: white;
  }

   th, td, input, textarea, h1, h2, h3, h4 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
  }
body, ol{
    background-color:  rgb(240, 242, 248);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

header{
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    } 
  .h{
    margin-left: 20%;
    margin-right: 20%;
  }
  .button{
    position: absolute;
    top:62%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    .btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    }
    .btn:hover{
    background-color: blue;
    color: #000;
    }

 .kw1{
   float: left;
width: 945px;
height: fit-content;
 } 
.kw2{
  float: right;
  width: 960px;
  height: fit-content;
}
.stats{
  float: left;
  width: 40%;
  height: auto;
  padding: 1.5%;
}

 #social{
 position:absolute;
    bottom: 20px;
    left: 20px;
  }

  #social li{
    list-style-type:none;
    float: left;
    padding: 5px;
    position:relative;
  }
