.certs-header {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.2;
  text-align: left;
  width: 90%;
  margin: 30px auto 4px;
}

.certs-body-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1380px) {
  .certs-header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .certs-body-div {
    flex-direction: column;
  }

  .certs-header {
    font-size: 30px;
  }
}
