<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/utsav.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Utsav </h3>
    <ul>
      <li> Python, Django, Bootstrap</li>
    </ul>
    <p>A platform for the annual sports fest of DSVV. The purpose of the project titled “UTSAV” is to exclusively provide a web application which is user friendly, reliable, free of cost for the University students to use. In Addition this will provide users/university students with the ease of visiting the web portal to register themselves or their teams, see past records and upcoming events.</p>
    <a class="project-link" href="https://utsavdsvv.github.io/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/himmat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Himmat </h3>
    <ul>
      <li> Python, Pyinstaller</li>
    </ul>
    <p>A CLI app for daily motivation from the book "Lose Not Your Heart" ("Haariye na himmat" in hindi) written by Pt. Shriram Sharma Acharya.</p>
    <a class="project-link" href="https://crypticani.me/himmat/">Check it out</a>
  </div>
</div>
