/* Created by 🌍🌎🌏𝐀𝐢𝐦🌍🌎🌏 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin:0px;
  padding:0px;
  font-family: 'Poppins', sans-serif;
}
.section-1{
  width:100%;
  height:165vw;
  background-color:#364F6B;
  overflow:hidden;
}
.balloon{
  width:40vw;
  position:absolute;
  z-index:100;
  animation:  move 2s infinite linear ;
  
}
@keyframes move {
  0%{
    top:110vw;
    opacity:0;
  }
  10%{
    opacity:1;
  }
  100%{
    top:0vw;
    filter: hue-rotate(360deg);
  }
}
.wish{
  width:40vw;
  position:absolute;
  top:4vw;
  right:10px;
}
.pic{
    width:40vw;
    position:absolute;
    top:4vw;
    left:10px;
  }
.plate{
  width:200px;
  height:20px;
  background-color:#5765FF;
  border-radius:10px 10px 100px 100px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
  
}
.layer {
  width:170px;
  height:10px;
  background-color: #64C8FF;
  border-radius: 50px;
  position:relative;
  top:-10px;
  left:10px;

}
.cake-layer-1{
  width:160px;
  height:70px;
  background-image:linear-gradient( to top, #7b3f00 70%,#ffab59 30%);
  position:relative;
  top:-70px;
  border-radius:10px 10px 0px 0px;
  left:4px;
  overflow:hidden;
}
.cake-layer-2{
  width:110px;
  height:60px;
  background-color:#7B3F00 ;
  position:relative;
  border-radius:10px 10px 0px 0px;
  background-image:linear-gradient( to top, #7b3f00 70%,#ffab59 30%);
  left:30px;
    top:-200px;
    overflow:hidden;

}
span{
  width:20px;
  height:40px;
  background-color:#FFAB59;
  position:absolute;
  border-radius: 50px ;
}
span:nth-child(1){
  left:0px;
  height:45px;
  
  
}
span:nth-child(2){
  left:20px;
  height:45px;
  background-color:#7b3f00;
  top:8px;
  
}
 span:nth-child(3){
  left:40px;
  height:35px;
}
span:nth-child(4){
  left:60px;
  height:50px;
  background-color:#7b3f00;
  top:10px;
  
}
span:nth-child(5) {
  left: 80px;
  height: 30px;
  top:10px;
}

 span:nth-child(6){
  left:100px;
  height:30px;
  background-color:#7b3f00;
  top:10px;
}
span:nth-child(7){
  left:120px;
  height:45px;
  
}
 
 span:nth-child(8){
  left:140px;
  height:55px;
  background-color:#7b3f00;
  top:10px;
  
}
 span:nth-child(9){
  left:195px;
  height:35px;
  
  
}
span:nth-child(10){
  left:185px;
  height:45px;
}

.candle{
  width:15px;
    height:45px;
background-color:#FF4322;
position:absolute;
position:absolute;
top:-175px;
left:75px;
}
.flame{
  width:20px;
  height:30px;
  background-color:#FF9D05;
  position:relative;
  border-radius:0 45px ;
  top:-34px;
  animation: flame 2s infinite linear ;
  transform:rotate(25deg);
  box-shadow:0px 0px 30px #FF9D05;
  
}
@keyframes flame{
  25%{
    transform:rotate(45deg);
    
  }
  50%{
    transform:rotate(20deg)
  }
}
.wish-box{
  width:90%;
  height: auto;
  text-align:center;
  background:#3FC1C9;
  padding:10px;
  position:absolute;
 
  top:80%;
  left:50%;
  transform:translate(-50%,-50%);
  transition:1s background-color;
}
.wish-box p{
  font-size:2vw ;
}
.wish-box:hover{
  background: #FF6722
}
h1{
  font-size:48px;
  margin-bottom:20px;
}
@media only screen and (max-width: 480px){
    h1{
        font-size:20px;
        margin-bottom:20px;
      }
      .wish-box p{
        font-size:4vw ;
      }
}
.section-2{
  width:100%;
  height:165vw;
  background-color:#FC5185 ;
  position:absolute;
  
  
}
.section-2 p{
   margin-top:20px;
   font-size:5vw;
  text-align:center;
  margin-bottom:40px;
  width:90%;
  margin-left: 5vw;
  
}